body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #fff;
}

.linkhome {
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}

.linkhome a {
    color: blue;
    text-decoration: none;
    margin-right: 5px;
}

form, div.container {
    border: 2px solid black;
    padding: 20px 30px;
    width: 800px;
}

div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    width: 180px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    flex: 1;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 4px;
}

textarea {
    flex: 1;
    height: 80px;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 4px;
}

button {
    padding: 6px 15px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #eaeaea;
    cursor: pointer;
}

button:hover {
    background-color: #d5d5d5;
}

#kecamatan, #kelurahan {
    width: 150px;
    margin-right: 10px;
}

#deskripsi {
    height: 100px;
}

#alamat {
    height: 50px;
}
